@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}

html, body{
    height: 100vh;/*altura total do navegador*/
    width: 100vw;/*largura total do navegador*/
    background-color: black;
}

body{
    background: url(/imagens/fundo-madeira.jpg)no-repeat top center;
    background-size: cover; /*Para cobrir a tela toda*/
    background-attachment: fixed; /*Pra nao ter rolagem*/
}
main{
    position: relative; /*Esta acima do background black*/
    height: 100vh;/*altura total do navegador*/

}

#telefone{
    position: absolute;/*Configurando o telefone para o meio da tela*/
    top: 50%; /*Esta configuração o ponto do lado esquerdo esta centralizado porem o quadrado completo não está no meio*/
    left: 50%;
    transform: translate(-50%, -50%);/*Jogando o bloco para o meio*/
    height: 627px;
    width: 311px;
    background:  url('/imagens/frame-iphone.png')no-repeat;
}